@font-face {
    font-family: "Muli";
    font-display: swap;
    font-weight: 400;
    src: url("/fonts/muli/muli-400.woff2");
}

@font-face {
    font-family: "Muli";
    font-display: swap;
    font-weight: 600;
    src: url("/fonts/muli/muli-600.woff2");
}

@font-face {
  font-family: "Ionicons";
  font-display: swap;
  font-weight: 400;
  src: url("/fonts/ionicons/ionicons.eot");
  src: url("/fonts/ionicons/ionicons.eot?#iefix") format("embedded-opentype"), url("/fonts/ionicons/ionicons.woff2") format("woff2"),
    url("/fonts/ionicons/ionicons.woff") format("woff"), url("/fonts/ionicons/ionicons.ttf") format("truetype"),
    url("/fonts/ionicons/ionicons.svg#svgFontName") format("svg");
}

* {
    font-family: 'Muli', sans-serif;
}