$white: #fff;
$black: #000000;

$main-color: #1680e6;
$button-color: #5ed07f;
$button-hover-color: #34d061;
$button-hover-shadow-color: rgba(8, 73, 136, 0.8);
$button-hover-box-shadow: 0px 5px 30px $button-hover-shadow-color;
$hooper-button: #167ee4;

$gray-text: rgba(5, 35, 62, 0.5);
$gray-text-2: #919eab;
$gray-text-3: rgba(44, 48, 58, 0.48);
$gray-text-4: #555;
$text-color: #04223d;
$text-color-2: #05233e;
$text-color-3: #05233f;

$divider-color: #c4cdd5;
$divider-color-2: #d4dae0;
$divider-color-3: #f7f9fa;
$divider-color-4: #f2f2f2;
$card-border-color: #f4f6f8;

$mark-color: #0c83f2;
$gray-mark-color: rgba(5, 35, 62, 0.03);
$table-background-color: rgba(212, 218, 224, 0.108419);
$company-background-color: #0f7c10;
$company-background-color-2: #197bd5;
$company-background-color-3: #e60012;
$company-background-color-4: #c02125;
$nav-background-color: #2a82f3;
$circle-background-color: #d1e9ff;
$circle-background-color-2: rgba(205, 230, 254, 0.51);

$box-shadow-color: rgba(8, 73, 136, 0.0933254);
$box-shadow-color-2: rgba(0, 0, 0, 0.13853);
$box-shadow: 0px 5px 30px $box-shadow-color;
$box-shadow-2: 0px 0px 54px $box-shadow-color-2;
$box-shadow-3: 0px -11px 30px $box-shadow-color;

$border-radius: 2px;

$s-mobile-width: 380px;
$md-mobile-width: 440px;
$l-mobile-width: 520px;
$xl-mobile-width: 680px;
$width-850: 850px;
$width-851: 851px;
$md-tablet-width-2: 980px;
$md-tablet-width: 1024px;
$width-1125: 1125px;
$width-1280: 1280px;
$width-1340: 1340px;
$l-desktop-width: 1550px;

@function randomNum($min, $max) {
  $rand: random();
  $randomNum: $min + floor($rand * (($max - $min) + 1));

  @return $randomNum;
}

@keyframes move {
  0% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(-#{randomNum(5, 18)}px) translateY(-#{randomNum(2, 17)}px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

@mixin dynamicScale($property, $large-val, $medium-val, $small-val) {
@media (min-width: 1920px) {
  #{$property}: calc(1.19 * #{$large-val});
}
@media (max-width: 1920px) {
  #{$property}: calc(1.05 * #{$large-val});
}
@media (max-width: 1680px) {
  #{$property}: calc(1 * #{$large-val});
}
@media (max-width: 1600px) {
  #{$property}: calc(0.865 * #{$large-val});
}
@media (max-width: 1536px) {
  #{$property}: calc(0.85 * #{$large-val});
}
@media (max-width: 1440px) {
  #{$property}: calc(0.82 * #{$large-val});
}
@media (max-width: 1366px) {
  #{$property}: calc(0.66 * #{$medium-val});
}
@media (max-width: 1280px) {
  #{$property}: calc(0.66 * #{$medium-val});
}
@media (max-width: 1024px) {
  #{$property}: calc(0.7 * #{$medium-val});
}
@media (max-width: 768px) {
  #{$property}: calc(1 * #{$small-val});
}
@media (max-width: 450px) {
  #{$property}: calc(0.75 * #{$small-val});
}
@media (max-width: 375px) and (max-height: 800px){
  #{$property}: calc(0.68 * #{$small-val});
}
@media (max-width: 360px) and (max-height: 700px){
  #{$property}: calc(0.61 * #{$small-val});
}
@media (max-width: 320px) and (max-height: 700px){
  #{$property}: calc(0.51 * #{$small-val});
}
}


@mixin particle-animation {
  animation: move #{randomNum(5, 17)}s infinite 0s;
  animation-timing-function: linear;
}
