<template>
  <div class="studio-card">
    <div class="studio-logo-container">
      <dimage
        :source="`/images/optimized/${studio.logo}`"
        :alt="`${studio.footer.name}`"
        class="studio-logo"
      />
      <span
        class="studio-logo-name"
        :style="{
        'color': `${studio.color}`
      }"
      >{{studio.baseline}}</span>
    </div>

    <button class="studio-btn" @click="goToStudio()">
      <span class="studio-btn-text">Visit site</span>
      <aArrow class="studio-btn-arrow" />
      <span
        class="studio-btn-line"
        :style="{
        'background-color': `${studio.color}`
      }"
      ></span>
    </button>
    <ul class="studio-footer">
      <li v-html="studio.footer.name"></li>
      <li v-html="studio.footer.address_line_1"></li>
      <li v-html="studio.footer.address_line_2"></li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'StudioCard',
  props: {
    studio: {
      type: Object,
      default: () => {}
    }
  },
  methods: {
    goToStudio() {
      window.open(`${this.studio.link}`, '_blank')
    }
  }
}
</script>

<style lang="scss" scoped>
.studio-card {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  align-content: baseline;
  padding: 34px;
  margin: 16px 34px;
  width: 400px;
  height: 400px;
  background: #1b2026;
  mix-blend-mode: normal;
  opacity: 0.9;
  box-shadow: 0px 0px 37px #000000;

  @media (max-width: 550px) {
    padding: 22px;
  }
}

.studio-logo {
  display: block;
  margin-bottom: 10px;
}

.studio-logo-name {
  display: block;
  display: block;
  font-family: Muli;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 74px;
}

.studio-btn {
  cursor: pointer;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 259px;
  height: 59px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  background: transparent;
  font-family: Muli;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 3px;
  text-transform: uppercase;
  position: relative;
  color: #ffffff;

  &:hover {
    .studio-btn-arrow {
      right: 10px;
    }

    .studio-btn-line {
      height: 4px;
    }
  }

  &-line {
    display: block;
    width: calc(100% + 4px);
    height: 7px;
    position: absolute;
    bottom: -2px;
    transition: height 0.2s linear;
  }

  &-arrow {
    right: 22px;
    position: absolute;
    transition: right 0.3s linear;
  }

  &-text {
    display: flex;
    justify-self: flex-end;
  }
}

.studio-footer {
  margin-top: 58px;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  justify-self: flex-end;
  width: 223px;
  height: 75px;
  font-family: Muli;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  list-style: none;
  color: #ffffff;
}
</style>
