<template>
  <div class="index">
    <StudioCard v-for="(studio, index) in studios" :key="index" :studio="studio" />
  </div>
</template>

<script>
import StudioCard from '@/client/components/elements/Studio.card'
export default {
  name: 'Home',
  components: {
    StudioCard
  },
  computed: {
    studios() {
      return JSON.parse(this.$env.STUDIOS_DEFS)
    }
  }
}
</script>

<style lang="scss" scoped>
.index {
  background-image: url('/images/home_hero.png');
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;

  min-width: 100vw;
  min-height: 100vh;
}
.index:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  background: linear-gradient(
    270deg,
    rgba(50, 55, 57, 0.0001) 2.46%,
    #101317 97.54%
  );
  mix-blend-mode: normal;
  opacity: 0.92;
}
</style>
