<template>
<svg width="18" height="33" viewBox="0 0 18 33" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M0 32.1428L11.6484 16.7361L14.3756 20.3432L14.4788 20.4797L5.6608 32.1428H0Z" fill="white"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M12.0175 16.2478L-0.00012207 0.352566H5.66108L14.8483 12.5038L17.6783 16.2478L14.8483 19.9915L12.0175 16.2478Z" fill="white"/>
</svg>
</template>

<script>
export default {
  name: 'AtomixArrow'
}
</script>

<style>
.dimg-inherith {
  width: inherit;
  max-width: inherit;
  border-radius: inherit;
}
</style>
