<template>
  <picture class="width-inherith">
    <source type="image/webp" :alt="alt" :srcset="`${source}.webp`">
    <source type="image/png" :alt="alt" :srcset="`${source}.png`">

    <img :src="`${source}.png`" :alt="alt" class="dimg-inherith" >
</picture>


</template>

<script>
export default {
  name: 'DynamicImage',
  data() {
    return {
      completeSource: '',
    }
  },
  props: {
    source: {
      type: String,
      default: ''
    },
    alt: {
      type: String,
      default: ''
    }
  }
}
</script>

<style>
.dimg-inherith {
  width: inherit;
  max-width: inherit;
  border-radius: inherit;
}
</style>
