<template>
  <nuxt id="app" class="container" />
</template>

<script>
export default {
  render: {
    http2: {
      push: true,
      pushAssets: (req, res, publicPath, preloadFiles) =>
        preloadFiles
          .filter(f => f.asType === 'script' && f.file === 'runtime.js')
          .map(f => `<${publicPath}${f.file}>; rel=preload; as=${f.asType}`)
    }
  }
}
</script>

<style lang="scss"></style>
